{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="register-wrap" style="width: 500px; margin: 0 auto 100px;">
                <h2 style="text-align: center">Hello: {{ user.email }}</h2>
                <p>Please check your email</p>
            </div>
        </div>
    </div>
{% endblock %}