{% block body_html %}
    <h2>Hello <b>{{ user.username }}</b>!</h2>

    <p>Please confirm by visiting: <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>.</p>

    <p>Thank you.</p>
{% endblock %}