{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Change Password">
                <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">Back</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
